* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

ul,li,ol {
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

button, input {
    border: none;
    outline: none;
}

/* Блок старта */
.header__start {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-height: 720px;
    height: 100vh;
    padding: 20px;
    background-image: url('./img/Group.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #141414;
}

.header__start__active{
    background-color: #323330;
    transition: 2s ease;
}

.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.list {
    display: flex;
    font-size: 0.77rem;
    font-weight: 300;
    color: #fff;
    margin-top: -100px;
}

.list__active {
    margin-top: 30px;
    transition: 2s ease;
}

.list li {
    margin-right: 40px;
}

.list li:last-child {
    margin-right: 0;
}

/* Логотип */
.header__logo {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 100%;
    margin-bottom: 60px;
    z-index: 1;
}

.active__logo {
    width: 80px;
    height: 80px;
    margin-bottom: 160px;
    transition: 2s ease;
}

/* Блок контента */
.header__content {
    position: relative;
    width: 100%;
    min-height: 180px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.header__content__active {
    justify-content: space-evenly;
}

/* Блок текста */
.header__text {
    position: relative;
}

.header__textanim {
    width: 100%;
    text-align: center;
    margin-left: 170%;
}

.header__textanim__active {
    margin-left: 0;
    transition: 2s;
}

/* Верхний Заголовок*/
.uptitle {
    font-size: 1.88rem;
    line-height: 41px;
    color: #fff;
    margin-bottom: -5px;
}

.active__uptitle {
    font-size: 1.66rem;
}

/* Основной заголовок */
.title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 88px;
    color: #fff;
}

.active__title {
    font-size: 3.44rem;
}

/* Подзаголовок */
.subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.60em;
    color: #fff;
    margin-left: 5px;
    margin-top: -5px;
    margin-bottom: 40px;
}

.active__subtitle {
    font-size: 0.88rem;
}

.btn__text {
    position: absolute;
    opacity: 0;
    left: -100%;
}

.btn__text__active {
    position: relative;
    opacity: 1;
    left: 0;
    transition: 2s ease;    
}

/* Кнопка блока старта */
.btn__start {
    max-width: 425px;
    width: 100%;
    height: 57px;
    font-weight: 700;
    font-size: 1.88rem;
    color: #323330;
    padding: 8px 60px;
    background-color: #F0DB4F;
    z-index: 1;
}

.btn__start__active {
    opacity: 0;
    transition: 0.4s ease;
}

.header__image {
    position: absolute;
    right: -100%;
    max-width: 550px;
    width: 100%;
    max-height: 360px;
    height: 100%;
    background-color: #F0DB4F;
    opacity: 0;
}

.active__image {
    opacity: 1;
    position: relative;
    right: 0;
    transition: 2s ease;
}